*{
    font-family: Roboto;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F3F3F3;

    position: relative;
}
header{
    width: 375px;
    height: 80px;
    position: fixed;
    
    box-sizing: border-box;
    padding: 0 22px;
    margin-bottom: 26px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    
}
header ion-icon{
    font-size: 42px;
}

.footer{
    width: 375px;
    min-height: 80px;

    position:fixed;
    bottom: 0px;


    box-sizing: border-box;
    padding: 0 22px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}
.footer ion-icon{
    font-size: 26px;
}
.footer input{
    width: 280px;
    height: 30px;

    font-family: Roboto;
    font-style: italic;
    font-weight: 400;

    font-size: 18px;
    line-height: 21px;
    
    color: #000000;

    border: none; 
    border-width: 0; 
    box-shadow: none;

    outline: none;
}

.footer input::placeholder{
    font-family: Roboto;
    font-style: italic;
    font-weight: 400;

    font-size: 18px;
    line-height: 21px;
    
    color: #000000;
}
.text-box{
    width: 280px;
}
.message-info{
    width: 100%;
    display: flex;

    color: #000;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
}

.message-info p, .message-info .to-message{
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;   
    max-height: 20px;
}

.messages{
    width: 375px;

    display: flex;
    flex-direction: column;
    gap:4px;
    margin:106px 0 90px 0;
}
.status{
    background: #DCDCDC;
}
.message{
    background: #FFFFFF
}
.private-message{
    background: #FFDEDE;
}
.message, .status, .private-message{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    left: 0px;
    top: 150px;
    
    border-radius: 2px;

    display: flex;
    align-items: center;

    box-sizing: border-box;
    padding: 12px 8px;

    overflow-wrap: anywhere; 

}
.time{
    color: #AAAAAA;
}
.send-user, .receive-user{
    font-weight: bold;
    overflow-wrap: anywhere;
}

.input-screen{
    position: fixed;

    box-sizing: border-box;
    padding: 72px 57px;
    height: 100%;
    width: 375px;
    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.input-screen img{
    width: 130px;
}

.input-screen input{
    width: 261px;
    height: 54px;

    position: absolute;
    left: 57px;
    top: 258px;
    
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    line-height: 25px;
    
    background: #FFFFFF;
    color: #AEAEAE;
}

.input-screen button{
    position: absolute;
    width: 109px;
    height: 45px;
    left: 133px;
    top: 327px;
    
    background: #E7E7E7;
    border-radius: 9px;
    border: 0px;
    
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    line-height: 25px;

    color: #696969;
}
.hidden{
    z-index: -1;
    visibility: hidden;
}

.active-participants{
    width: 375px;
    height: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    transition: all 300ms ease-in;
}
.active-participants.transition{
    transition: all 300ms ease-in;
}

.background{
    width: 375px;
    height: 100%;
    background: rgba(0, 0, 0, 0); 
     /* background: rgba(0, 0, 0, 0.6);  */
    transition: width 300ms ease-in, background 300ms ease-in;
    z-index: 1;
}

.background.transition{
    width: 115px;
    transition: width 300ms ease-in, background 300ms ease-in;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.contacts{
    width: 0px;
    transition: all 300ms ease-in;
    z-index: 1;
}
::-webkit-scrollbar{
    display: none;
}

.contacts.transition{
    width: 260px;
    background: #FFFFFF;
    box-sizing: border-box;
    padding: 0 15px 0 20px;
    transition: all 300ms ease-in;
    z-index: 1;
}

.info-contacts{
    height: 84px;

    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    color: #000000;
}
.users{
    display: flex;
    flex-direction: column;
    gap: 1px;
    overflow-y: scroll;
    max-height: 400px;
}
.everyone, .participant,.public,.private{
    display: flex;
    align-items: center;
    min-height: 36px;

}
.everyone p, .participant p,.public p,.private p{
    width: 78%;
    overflow-wrap: anywhere;
}
.participant p{
    max-width: 300px;
    max-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;

}
.profile-icon{
    font-size: 21px;
    margin-right: 9px;
}
.check{
    color: #28BB25;  
}

.choose-visibility{
    width: 100%;
    height: 66px;

    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #000000;
}

.add-index{
    z-index: 0;
}
.add-index-messages{
    z-index: -3;
}
.display{
    display: none;
}
.wait{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wait img{
    width: 300px;
}
.wait p{
    position: relative;
    top: -40px;
    font-family: Roboto;
    font-weight: 400;

    font-size: 20px;
    line-height: 21px;
    
    color: #000000;
}